
<!-- /* Body */ -->

body, html {
  max-width: 8.5in;
  max-height: 11in;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .menu a {
    display:list-item;
    width: 700px;
  }
}

@page {
  max-width: 8.5in;
  max-height: 11in;
    size: legal portrait;
    margin: auto;
}



#img {
  display:inherit;
}


h2 {
  display: none;
}

h3 {
  display: none;
}

table {
    width: 100% !important;
    margin:0% !important;
}



<!-- /* sticky */ -->


.title {
  color: black;
  font-family: helvetica;
  font-size: 24pt;
}

.sectiontitle {
  color: black;
  font-family: helvetica;
}


.section {
  color: black;
  font-family: helvetica;
}



.links-list {
  padding-left: 5 px;
}

.sectionlist {
  font-family: helvetica;
}

.sectionlisttitle {
  
}

.stickytitle {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  padding: 0px;
  padding: 5px;
  background-color: skyblue;
  width: auto;
  text-align:right;
  font-family: helvetica;
}

.stickysearch {
  position: -webkit-sticky;
  position: sticky;
  background-color: yellow;
  margin-left: 0px;

  top: 69px;
  padding: 0px;
  margin: 0px;
}

.stickysection {
  position: -webkit-sticky;
  position: sticky;
  top: 215px;
  background-color: lightcyan;

  margin-left: 200px;
  padding: 10px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
}



.stickytop {
position: fixed;
right: 5;
bottom: 5;
width: 20%;
background-color: yellow;
text-align: center;
padding-top: 1%;
padding-bottom: 1%
color: black;
font-family: helvetica;
}


.stickylisttitle {
  position: -webkit-sticky;
  position: sticky;
  background-color: skyblue;

  margin-left: 200px;
  padding: 0px 0px 0px 10px;
  overflow-x: hidden;
  overflow-y: auto;
  top: 159px;
}

.stickydownload {
  position: -webkit-sticky;
  position: sticky;
  background-color: yellow;

  margin-left: 200px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  float: none;
  top: 70px;

}


.stickysectiontitle {
  font-family: helvetica;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px;
  background-color: yellow;
}



.searchcolumn {

  padding-left: 200px;

}

.tdsection {
  vertical-align:top;
}

.tddownload {

}



#myInput {

width: 100%;
font-size: 16px;
font-family: helvetica;
padding: 10px 60px 10px 60px;
border: 1px solid #ddd;
margin-bottom: 10px;

background-image: url('data:image/svg+xml;base64,PHN2ZyAKIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIgogd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgIGZpbGw9InJnYig2OCwgNjgsIDY4KSIKIGQ9Ik0yMy4zNTIsMjIuNjYyIEwyMi42NDUsMjMuMzY5IEMyMi4yNTQsMjMuNzU5IDIxLjYyMSwyMy43NTkgMjEuMjMwLDIzLjM2OSBMMTQuMTk5LDE2LjMzOCBDMTIuNzMwLDE3LjM4MSAxMC45MzksMTguMDAwIDkuMDAwLDE4LjAwMCBDNC4wMjksMTguMDAwIC0wLjAwMCwxMy45NzEgLTAuMDAwLDkuMDAwIEMtMC4wMDAsNC4wMjkgNC4wMjksLTAuMDAwIDkuMDAwLC0wLjAwMCBDMTMuOTcxLC0wLjAwMCAxOC4wMDAsNC4wMjkgMTguMDAwLDkuMDAwIEMxOC4wMDAsMTAuOTQ4IDE3LjM3NSwxMi43NDYgMTYuMzIzLDE0LjIxOSBMMjMuMzUyLDIxLjI0OCBDMjMuNzQyLDIxLjYzOCAyMy43NDIsMjIuMjcxIDIzLjM1MiwyMi42NjIgWk05LjAwMCwyLjAwMCBDNS4xMzQsMi4wMDAgMi4wMDAsNS4xMzQgMi4wMDAsOS4wMDAgQzIuMDAwLDEyLjg2NiA1LjEzNCwxNi4wMDAgOS4wMDAsMTYuMDAwIEMxMi44NjYsMTYuMDAwIDE2LjAwMCwxMi44NjYgMTYuMDAwLDkuMDAwIEMxNi4wMDAsNS4xMzQgMTIuODY2LDIuMDAwIDkuMDAwLDIuMDAwIFoiLz4KPC9zdmc+');

background-position: 10px 10px;
background-repeat: no-repeat;
}

#myUL {
list-style-type: none;
padding: 0;
margin: 0;
width: auto;

}

#myUL li a {

border: 1px solid #ddd;
margin-top: -1px; /* Prevent double borders */
background-color: #f6f6f6;
padding: 10px 60px 10px 70px;
text-decoration: none;
font-size: 18px;
color: black;
display: block;

background-image: url('data:image/svg+xml;base64,PHN2ZyAKIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIgogd2lkdGg9IjI5cHgiIGhlaWdodD0iMjdweCI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgIGZpbGw9InJnYigwLCAxMTcsIDIyNikiCiBkPSJNMC4wMDAsMjcuMDAwIEwwLjAwMCw0LjA2MyBMOC4yODEsNC4wNjMgTDguMjgxLDYuMDYzIEwyLjA2Miw2LjA2MyBMMi4wNjIsMjQuOTY5IEwyNi45MzgsMjQuOTY5IEwyNi45MzgsNi4wNjMgTDIwLjcxOSw2LjA2MyBMMjAuNzE5LDQuMDYzIEwyOS4wMDAsNC4wNjMgTDI5LjAwMCwyNy4wMDAgTDAuMDAwLDI3LjAwMCBaTTE0LjUwMCwxNC41ODYgTDE0LjIyNSwxNC44NTAgTDkuNjYxLDkuNzAzIEwxMC42MjYsOC43NzQgTDEzLjgxMiwxMi4zNjcgTDEzLjgxMiwwLjAwMCBMMTUuMTg4LDAuMDAwIEwxNS4xODgsMTIuMzY3IEwxOC4zNzQsOC43NzQgTDE5LjMzOSw5LjcwMyBMMTQuNzc1LDE0Ljg1MCBMMTQuNTAwLDE0LjU4NiBaIi8+Cjwvc3ZnPg==');

background-position: 10px 10px;
background-repeat: no-repeat;
}

#myUL li a:hover:not(.header) {
background-color: #f6ff00;
}


<!-- /* Header */ -->


h2 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 15pt; }
 .s1 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s2 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
 .s3 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
 .h4, h4 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
 .p, p { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; margin:0pt; }
 h3 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
 .s4 { color: black; font-family:Wingdings; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; }
 .s5 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s6 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s7 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s8 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s9 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s10 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt; }
 .s11 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; vertical-align: 4pt; }
 .s12 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
 .s13 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 7pt; vertical-align: 4pt; }
 .s14 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 7pt; }
 .s15 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11pt; vertical-align: 1pt; }
 .s16 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s17 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s18 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s19 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s20 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s21 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 12pt; }
 .s22 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; vertical-align: 5pt; }
 .s23 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 14pt; }
 .s24 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 11pt; vertical-align: 1pt; }
 .s25 { color: black; font-family:Symbol, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s26 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 .s27 { color: #00F; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s28 { color: #221F1F; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s29 { color: #221F1F; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
 .s30 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: underline; font-size: 12pt; }
 .s31 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 12pt; }
 .s32 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s33 { color: #00F; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s34 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt; }
 .s35 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: underline; font-size: 11pt; }
 .s36 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 7pt; vertical-align: 4pt; }
 .s37 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 7pt; }
 .s38 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
 .s39 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 14pt; }
 .s40 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s42 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s43 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
 .s44 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
 .s45 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s46 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 11.5pt; }
 .s47 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s48 { color: black; font-family:Wingdings; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s49 { color: black; font-family:Wingdings; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s50 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s51 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 10pt; }
 .s52 { color: black; font-family:Wingdings; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s53 { color: black; font-family:Wingdings; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
 .s54 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 11pt; }
 .s55 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s56 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s57 { color: black; font-family:Wingdings; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s58 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; vertical-align: 1pt; }
 .s59 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11.5pt; }
 .s60 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 .s61 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9pt; }
 .s62 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 11pt; vertical-align: -6pt; }
 .s63 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 18pt; }
 .s64 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s65 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 7pt; vertical-align: 5pt; }
 .s66 { color: black; font-family:Wingdings; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11.5pt; }
 .a { color: #0562C1; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: underline; font-size: 12pt; }
 .s68 { color: #0562C1; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt; }
 .s69 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: underline; font-size: 12pt; }
 .s70 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s71 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: underline; font-size: 11pt; }
 .s72 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 8pt; vertical-align: 5pt; }
 .s73 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 8pt; }
 .s74 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s75 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; vertical-align: 4pt; }
 .s76 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s77 { color: black; font-family:Wingdings; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s78 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
 .s79 { color: #00F; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 .s80 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s81 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s82 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; vertical-align: 1pt; }
 .s83 { color: black; font-family:Symbol, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s84 { color: #FFF; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; }
 .s85 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 10pt; }
 .s86 { color: #FFF; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; vertical-align: 1pt; }
 .s87 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 9pt; }
 .s88 { color: #FFF; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; vertical-align: 6pt; }
 .s89 { color: #FFF; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; vertical-align: -1pt; }
 .s90 { color: #FFF; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; vertical-align: 3pt; }
 .s91 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 .s92 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
 .s94 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 11.5pt; }
 .s95 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s96 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 10pt; }
 .s97 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 6.5pt; vertical-align: 3pt; }
 .s98 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 6.5pt; }
 .s99 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 7pt; }
 .s100 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 11pt; vertical-align: 5pt; }
 .s101 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s102 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10.5pt; }
 .s103 { color: #212121; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s104 { color: #212121; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 11pt; }
 .s106 { color: black; font-family:Symbol, serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s107 { color: black; font-family:Tahoma, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 8pt; }
 .s108 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 9.5pt; }
 .s109 { color: #333; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s110 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 6pt; vertical-align: 4pt; }
 .s111 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 6pt; }
 .s112 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 9pt; }
 .s113 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 10pt; }
 .s114 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: underline; font-size: 10pt; }
 .s115 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 6.5pt; vertical-align: 4pt; }
 .s116 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 6.5pt; }
 .s117 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: underline; font-size: 10pt; }
 .s118 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: normal; text-decoration: underline; font-size: 12pt; }
 .s119 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s120 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 9pt; }
 .s121 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 .s123 { color: black; font-family:"Yu Gothic UI", sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s124 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s126 { color: black; font-family:"Times New Roman", serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 8pt; }
 .s127 { color: black; font-family:"Segoe MDL2 Assets", serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s128 { color: black; font-family:"Times New Roman", serif; font-style: italic; font-weight: bold; text-decoration: none; font-size: 12pt; vertical-align: -1pt; }
 .s129 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 10pt; }
 .s131 { color: #0562C1; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 .s133 { color: black; font-family:Arial, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 11pt; }
 .s134 { color: #0562C1; font-family:"Times New Roman", serif; font-style: italic; font-weight: normal; text-decoration: underline; font-size: 11pt; }
 h1 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 16pt; }
 .s136 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
 .s137 { color: black; font-family:Calibri, sans-serif; font-style: italic; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s138 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
 .s139 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: normal; text-decoration: none; font-size: 12pt; }
 .s140 { color: black; font-family:Calibri, sans-serif; font-style: normal; font-weight: bold; text-decoration: none; font-size: 12pt; }
 td>p {display: inline; }




